{% extends "base.html" %}


{% block title %}
    {{ crop.name }}
{% endblock title %}


{% block content %}


  <main role="main" class="container">

    {% if crop %}
      <div class="row my-3 p-3 bg-body rounded shadow-sm">
    		<div class="col col-md-12">
          {% if crop.image and crop.image != 'default_crop_image.png' %}
            <img src="{{ url_for('static', filename='images/crops_images/'+crop.image) }}" alt="{{ crop.name }}" title="{{ crop.name }}" class="img-responsive mx-auto d-block a_image">
          {% endif %}
    		</div>
    		<div class="col col-md-12">
          
    			<p class="main-crop-title">
            {{ crop.name }} ({{ crop.location }}) [{{ crop.crop_area }}]
          </p>
          <small class="crop_area">[{{ crop.crop_area }}]</small>


          <div>

            {% if current_user.id  %}
              <a class="btn btn-primary btn-sm mt-1 mb-1" href="{{ url_for('edit_crop', crop_id=crop.id) }}">Αλλαγή</a>
              <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Διαγραφή</button>
            {% endif %}

          </div>


          <div class="main-crop-full-text">
            <ul>
              <li>location_longitude : {{ crop.location_longitude }}</li>
              <li>location_latitude : {{ crop.location_latitude }}</li>
              <li>prefecture : {{ crop.prefecture }}</li>
              <li>area : {{ crop.area }}</li>
              <li>crop_area : {{ crop.crop_area }}</li>
              <li>soil_type : {{ crop.soil_type }}</li>
            </ul>
            
          </div>
                {# 
    			<p class="">By 
            <span>
              <a class="author-name" href="{{ url_for('crops_by_author', author_id=crop.author.id) }}">
                {{ crop.author.username }}
                <img class="rounded-circle navbar-profile-image" alt="{{ current_user.username }}" src="{{ url_for('static', filename='images/profiles_images/'+crop.author.profile_image) }}" data-holder-rendered="true" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ crop.author.username }}">
              </a>
            </span>
          </p>
          #}
    		</div>
    	</div>
    {% else %}
      <div class="alert alert-info alert-dismissible fade show" role="alert">Δε βρέθηκε καμμία καλλιέργεια</div>
    {% endif %}

  </main>


  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Διαγραφή καλλιέργειας</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Είστε σίγουρος/η ότι θέλετε να διαγράψετε αυτήν την καλλιέργεια;
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

          <form action="{{ url_for('delete_crop', crop_id=crop.id) }}" method="POST">
            <input type="submit" class="btn btn-danger" value="Διαγραφή καλλιέργειας">
          </form>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
